 <div class="container-mast">

        <div class="row" id="top">

          <div class="head col-md-12">
  <div class="col-md-4 col-md-offset-4">
 <a ng-href="/search/"><img ng-src="/img/tagorila_logo-1200.png"/></a>
  </div>  
                  
              </div>
             

            </div>

        </div>



 <div class="tos">

        <div class="row" id="top">

            <div class="col-md-4 col-md-offset-4" id="hashtext">


                <h1>Terms of Service</h1>
                
                <p class="lead">This site uses the Instagram API to display content, therefore use of this site is goverened by <a ng-href="https://instagram.com/about/legal/terms/">Instagram's terms of use</a> which are incorporated herein by reference.</p>

  <p class="lead">This site and its host are not be liable or responsible for the 3rd party content displayed herein.</p>




            </div>

        </div>
    </div>

      